<header class="site-header" role="banner">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <a class="site-contact" href="tel:+61419238600">0419 238 600</a>
  </div>
</header>
<div class="highlight">
  <div class="title-text">
    <div class="line1">Pleasant Hills & Surrounds</div>
    <div class="line2">Handyman Services</div>
    <div class="line3">Darren Wilson: <a href="tel:+61419238600">0419&nbsp;238&nbsp;600</a></div>
  </div>
</div>
